[defaults]
roles_path = ./roles
inventory  = ./hosts.ini
LOCALHOST_WARNING: False

remote_tmp = $HOME/.ansible/tmp
local_tmp  = $HOME/.ansible/tmp
pipelining = True
become = True
host_key_checking = False
#deprecation_warnings = False
#callback_whitelist = profile_tasks

ansible_python_interpreter: auto_legacy_silent
#am using ansible core, by default no
#Ansible Galaxy community.general module 
#don't set stdout_callback = yaml
#stdout_callback = yaml

log_path=/opt/sensie_build/build.log